body{
   background-color: beige;
}

.parent{
margin: 10px 350px 20px;
text-align: center;
image-orientation: center;
background-color: antiquewhite;
font-family: "trirong", serif;
}
.center{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50px;
}